/* 
header{
    background-color: #555;
    text-align: center;
    position: relative;
    z-index: 1;
    width:100 vw;
    
}
header:before {
        border-top: 3px solid white;
        content:"";
        margin: 0 auto; 
        position: absolute; 
        top: 50%; left: 0; right: 0; bottom: 0;
        width: 100vw;
        z-index: -1;
        right: 5%;
    }

 .headerSpan { 
        /* display: block;
        background: #fff; 
        padding: 10px ;  */
/* } */ 

/* header:before {
    content: "";
    display: block;
    border-top: solid 3px white;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 5%;
    z-index: 1;
  }
  
  .spanHeader {
      display: inline-block;
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: -1;
  } */
header{
    display: flex;
    justify-content: space-evenly;
}
.hr1{
    align-items: center;
    align-self: center;
    width:100%;
}
.headerSpan{
    width:50%;
}
.hr2{
    align-self: center;
    width:100%;
}
.BS{ 
    font-size: 3rem;
    display:inline-flex;
    padding: 10px;
    border: 2px solid rgb(246, 243, 243);
    align-items: center;
    justify-content: center;
    background-color: #555;
    color: white;
    min-width: 1em;
    border-radius: 100%;
    vertical-align: middle;
}
.description{
    font-size: 2em;
    color: white;
    font-style: italic;
    font-family: sans-serif;
} 
@media screen and (max-width: 500px) {
    .description{
        display:none;
    }
    .hr1, .hr2{
        display: none;
    }
}
