.allBooksOfAnAuthor{
   
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
    margin:2% auto;
    width:80%;
    border:6px solid orange;
    border-radius: 5%; 
}
.allBooksMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0 auto;
    width:100%;
}
.authorName{
    font-size: 2rem;
    color: orange;
    text-align: center;
    background: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-style: italic;
}
@media screen and (max-width: 500px) {
    .allBooksOfAnAuthor{
        border:none;
    }
}
